.vmc-action-sheet {
    .vmc-popup {
        background: $ActionSheetBackColor;
    }

    .vmc-button {
        height: $ActionSheetButtonHeight;
        background: $ActionSheetButtonBackColor;

        &.cancel {
            margin-top: 5px;
        }
    }
}