.vmc-button {
    text-align: center;
    font-size: $ButtonTextSize;
    height: $ButtonHeight;
    position: relative;

    &:active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .4);
    }

    .block {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.disabled {
        opacity: .65;

        &:active:after {
            display: none;
        }
    }

    // sass不支持动态变量你们居然也用，真是醉了
    &.default {
        color: $ButtonDefaultColor;
        border-color: $ButtonDefaultBorder;
        background: $ButtonDefaultBackColor;
    }

    &.primary {
        color: $ButtonPrimaryColor;
        border-color: $ButtonPrimaryBorder;
        background: $ButtonPrimaryBackColor;
    }

    &.success {
        color: $ButtonSuccessColor;
        border-color: $ButtonSuccessBorder;
        background: $ButtonSuccessBackColor;
    }

    &.info {
        color: $ButtonInfoColor;
        border-color: $ButtonInfoBorder;
        background: $ButtonInfoBackColor;
    }

    &.danger {
        color: $ButtonDangerColor;
        border-color: $ButtonDangerBorder;
        background: $ButtonDangerBackColor;
    }

    &.warning {
        color: $ButtonWarningColor;
        border-color: $ButtonWarningBorder;
        background: $ButtonWarningBackColor;
    }

    [slot="icon-left"] {
        margin-right: 5px;
    }

    [slot="icon-right"] {
        margin-left: 5px;
    }
}