.vmc-grid {
    ul.justify {
        display: flex;
        justify-content: space-between;
    }

    li {
        display: inline-block;
        box-sizing: border-box;
        vertical-align: middle;
    }
}