.vmc-popup {
    background: $PopupBackColor;
    position: absolute;
    z-index: 200;

    &-left {
        top: 0;
        bottom: 0;
        left: 0;
    }

    &-right {
        top: 0;
        bottom: 0;
        right: 0;
    }

    &-top {
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        min-height: $PopupTopHeight;
        line-height: $PopupTopHeight;
        color: $PopupTopTextColor;
        background: $PopupTopBackColor;
    }

    &-bottom {
        left: 0;
        right: 0;
        bottom: 0;
    }

    &-fade-transition {
        opacity: 1;
        transition: opacity .3s ease;
    }

    &-fade-enter, &-fade-leave {
        opacity: 0;
    }

    &-top-transition,
    &-right-transition,
    &-bottom-transition,
    &-left-transition {
        transition: transform .3s ease-out 100ms;
    }

    &-top-enter, &-top-leave {
        transform: translate3d(0, -100%, 0);
    }

    &-bottom-enter, &-bottom-leave {
        transform: translate3d(0, 100%, 0);
    }

    &-left-enter, &-left-leave {
        transform: translate3d(-100%, 0, 0);
    }

    &-right-enter, &-right-leave {
        transform: translate3d(100%, 0, 0);
    }
}