.vmc-radio {
    font-size: $RadioHeight - 6px;
    color: $RadioTextColor;
    height: $RadioHeight;
    line-height: $RadioHeight;
    display: block;

    &.inline {
        display: inline;
        margin-right: $RadioSpace * 2;
    }
    
    input {
        display: none;
    }

    label {
        display: inline-block;
        vertical-align: top;
        position: relative;
        padding-left: $RadioHeight - 6px + $RadioSpace;
        box-sizing: border-box;

        &:before {
            content: '';
            display: inline-block;
            height: $RadioHeight - 6px;
            width: $RadioHeight - 6px;
            border-radius: 100%;
            background-color: $RadioBackColor;
            border: 1px solid $RadioBorderColor;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
            position: absolute;
            left: 0;
            top: 2px;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 2px;
        }

        &.disabled:before {
            background-color: $RadioDisabledBackColor;
            border: 1px solid $RadioDisabledBorderColor;
        }

        &.disabled:after {
            color: $RadioDisabledCheckColor;
        }
    }

    input:checked + label:before {
        background-color: $RadioCheckedBackColor;
        border: 1px solid $RadioCheckedBorderColor;
    }

    input:checked + label:after {
        color: $RadioCheckedCheckColor;
    };

    input:checked + .disabled:before {
        background-color: $RadioDisabledCheckedBackColor;
        border: 1px solid $RadioDisabledCheckedBorderColor;
    }

    input:checked + .disabled:after {
        color: $RadioDisabledCheckedCheckColor;
    }

    input:checked + label:after {
        content: '\2714\FE0E';
    }
}