// 全局变量
@PrimaryColor: #ff0000;
//@SecondaryColor: #00ff00;
@BarBackColor: #000000;
@BarTextColor: #ffffff;

// 1像素边框颜色
@BorderColor: #ccc;

// Action Sheet
@ActionSheetBackColor: #e0e0e0;
@ActionSheetButtonHeight: @ButtonHeight;
@ActionSheetButtonBackColor: #ffffff;

// Alert
@AlertTitleHeight: 50px;
@AlertTitlePadding: 15px;

// Box

// Button
@ButtonHeight: 40px;
@ButtonTextSize: 14px;
@ButtonDefaultColor: #444444;
@ButtonDefaultBorder: #dddddd;
@ButtonDefaultBackColor: #f4f4f4;
@ButtonPrimaryColor: #ffffff;
@ButtonPrimaryBorder: #367fa9;
@ButtonPrimaryBackColor: #3c8dbc;
@ButtonSuccessColor: #ffffff;
@ButtonSuccessBorder: #008d4c;
@ButtonSuccessBackColor: #00a65a;
@ButtonInfoColor: #ffffff;
@ButtonInfoBorder: #00acd6;
@ButtonInfoBackColor: #00c0ef;
@ButtonDangerColor: #ffffff;
@ButtonDangerBorder: #d73925;
@ButtonDangerBackColor: #e40013;
@ButtonWarningColor: #ffffff;
@ButtonWarningBorder: #e08e0b;
@ButtonWarningBackColor: #f39c12;

// Card

// Cell

// Checkbox

// Confirm

// Dialog

// Dropload

// Grid

// Input

// Justify

// Marquee

// Mask

// Navbar

// Number

// Popup

// Progressbar

// Prompt

// Radio

// Rater

// Row

// Slider

// Spinner

// Submit

// Switch

// Tabbar
@TabbarHeight: 55px;

// TabControl

// TextArea

// Toast